Flask==3.1.3
Werkzeug==3.1.8
SQLAlchemy==1.4.3
paho-mqtt==1.5.1
asyncio-mqtt==0.8.1
flask-cors==6.0.5
meross_iot==0.4.7.5
expiringdict==1.2.1
dbus-python==1.2.18
packaging
debugpy
backports.zoneinfo==0.2.1; python_version < "3.9"
