<div class="container">
  <mat-vertical-stepper [linear]="!configured" #stepper id="stepper">
    <mat-step>
      <ng-template matStepLabel>Credentials configuration</ng-template>
      <configuration-account (configurationUpdatedEvent)="onConfigurationUpdate()"></configuration-account>
      <!--<button mat-button matStepperNext>Next</button>-->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Meross Pairer App</ng-template>
      <p>Install the Meross Custom Pairer App on your Android Device.</p>
      <div class="app-step-container">
        <img src="assets/images/meross_pairer_qr.svg" width="200" />
        <span> OR </span>
        <a
          href="https://play.google.com/store/apps/details?id=com.albertogeniola.merossconf&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
        >
          <img
            alt="Get it on Google Play"
            src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
            width="160"
          />
        </a>
      </div>
      <p>Once done, click on the following button.</p>
      <button mat-raised-button matStepperNext color="accent">I have installed the app &#8594;</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Login with custom pairer <span class="small">TEST</span></ng-template>
      <div class="login-step-container">
        <ul>
          <li><b>Open the app</b> (Custom Pairer) and select <b>Login to Meross Local Addon</b></li>
          <li>
            Make sure <b>WiFi is enabled and connected</b> to the same network where Homeassistant is running. Please
            note that you will also need to <b>enable location (gps)</b> for the discovery, as Android requires GPS
            permissions to scan nearest WIFIs.
          </li>
          <li>
            Tap on <b>Discovery</b>. This will auto-populate the <i>HTTP server hostname</i> input field. If this
            doesn't work, then it is highly probable that either the App or Homeassistant are not on the same network.
            In such cases, you need to identify the network address of the HomeAssistant instance and fill this value as
            follows:
            <pre>
  http://HA_IP:ADDON_API_PORT

  Where: 
    - HA_IP is the IP address of the HomeAssistant device. The default is homeassistant.local.
    - ADDON_API_PORT is the port, on the host of HA, where the Addon is listening. The default is 2003.
            </pre>
          </li>
          <li>Fill in the username and email fileds with the values chosen during the Step 1.</li>
          <li>Tap on "Login", and make sure the login succeeds.</li>
        </ul>
        <div>
          <button
            mat-raised-button
            [color]="loginVerified ? 'primary' : 'accent'"
            [disabled]="!loginVerified"
            matStepperNext
          >
            <mat-icon>
              <mat-spinner *ngIf="!loginVerified" color="warn" diameter="20" color="primary"></mat-spinner>
              {{ loginVerified ? 'done' : '' }}
            </mat-icon>
            <span *ngIf="!loginVerified">Waiting for login...</span>
            <span *ngIf="loginVerified">Login verified &#8594;</span>
          </button>
          <button *ngIf="!loginVerified" mat-button color="accent" matStepperNext>
            or skip login verification &#8594;
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step optional>
      <ng-template matStepLabel>Pair Meross devices</ng-template>
      <div class="pair-step-container">
        <p>You can now pair your Meross hardware devices with this local addon.</p>
        <p>To do so, select the "Pair" option from the Meross Pairer menu and follow the app procedure.</p>
        <p>
          <b>Note: you must to reset your meross devices before being able to pair them with the Custom Pairer App.</b>
        </p>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Configure HomeAssistant</ng-template>
      <div class="ha-step-container">
        <p>
          You can now install and configure the Homeassistant Meross component to use this local addon as server rather
          than the Official Meross cloud. To do so, please refer to the installation instructions
          <a href="https://github.com/albertogeniola/meross-homeassistant#installation--configuration" target="_blank"
            >here</a
          >.
        </p>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
